@import "tailwindcss";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0;
    background-color: hsl(222.2 84% 4.9%);
    color: hsl(210 40% 98%);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
